.DS_Store
Thumbs.db
*.suo
*.obj
*.tlog
*.log
*.sdf
*.idb
*.db
*.opendb
*.db-shm
*.db-wal
*.exe
*.cso
*.ilk
*.pdb
*.pch
CryptoKey.h
MakinoProject00/MakinoProject00/x64/
MakinoProject00/.vs/
MakinoProject00/MakinoProject00/AssetsPlain/
MakinoProject00/MakinoProject00/Assets/
MakinoProject00/MakinoProject00/assimp/
MakinoProject00/MakinoProject00/cryptopp/
MakinoProject00/MakinoProject00/DirectXTex/
MakinoProject00/MakinoProject00/SceneData/
MakinoProject00/MakinoProject00/imgui/
MakinoProject00/MakinoProject00/imgui.ini
MakinoProject00/packages/
MakinoProject00/MakinoProject00/WinPixEventRuntime.dll
MakinoProject00/MakinoProject00/assimp-vc141-mt.dll
MakinoProject00/MakinoProject00/assimp-vc141-mt.lib
MakinoProject00/MakinoProject00/assimp-vc141-mtd.dll
MakinoProject00/MakinoProject00/assimp-vc141-mtd.lib